.venv
.idea/
env

Zoopla/json
/json/
*.csv

Rightmove/JSON

error.txt
Error-Zoopla-UK.txt
/UkLandAndFarms/Error-Uklandandfarms.txt
/UkLandAndFarms/JSON/
/OnTheMarket/Error-OnTheMarket.txt
/Websites.txt
